
#title {
  color: black;
  margin-left: 50px;
  float:left;
  text-align: left;
}


.slider {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 25px;
}

.foiljava { 
  display: flex;
  align-items: center;
  flex-direction: row;
}

.foiljava > div {
  padding: 10px;
}

img {
  margin-left: 0px;
}

.header {
  position: fixed;
  background-color: rgb(245, 245, 245);
  top:0px;
  left: 0px;
  padding-bottom: 5px;
  width: 100%;
  height: 60px;
  z-index: 1;
  
}

.header > a{
  float: left;
  margin: 3px;
}

.page {
  padding-left: 5px;
  z-index: 2;
}

.sidebar  {
  display: none;
  z-index: 0;
}

.activity {
  position: relative;
  padding-top: 50px;
 padding-right: 0px;
  margin-right: 0px;
  padding-left: 3px;
 
}

.activity_index {
  position: relative;
  padding-top: 50px;
 padding-right: 0px;
  margin-right: 0px;
  padding-left: 3px;
}

#index_title {
  color:white;
  text-align: center;
}


@media screen and (min-width: 701px) {
  .sidebar  {
    display: block;
  }
  .activity {
    padding-left: 109px;
    padding-right: 0px;
    
  }

  
  
}

.sidebar {
  position: fixed;
  top: 61px;
  left:0px;
  background-color: #455A64;
  color: white;
  width:  110px;
  height:100%;
 margin-right: 4px;
 padding-left: 0px;
 text-align: left;
 font-size: 16px;
 border-style: solid;
 border-color: black;
  border-width: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.sidebar > ul {
  list-style: none;
  display: inline-block;
  color: white;
  padding: 5px;
  padding-top: 0px;
  margin: 0;
}



.sidebar > ul > li > a {
 padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
}

.sidebar > ul >li  a:hover {
  background-color: #9ed0ef;
  color: white;
}

.current-link {
  color:white;
  background-color: #296f98;
}

  body {
    background-color:rgb(245, 245, 245);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  img {
    transition:transform 0.25s ease;
}

img:active {
    -webkit-transform:scale(1.5); /* or some other value */
    transform:scale(1.5);
}

  .gap {
    padding: 20px;
  }

  .smallgap {
    padding: 20px;
  }

  .centre_image {
    padding-left: 20px;
  }

  .pic {
    position: fixed;
    top:0px;
    left:0px;
  }

.navBar {
    background: #455A64;
    position: fixed;
    height:60px;
    
    top:0px;
    left:60px;
    white-space: nowrap;
    
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
}

.container {
  margin: 10 10 10 10;
  padding: 0 10px;
  
  width: 2000px;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.nav {
    margin: 0 -10px;
    padding: 0 10px;
    transform: translate3d(0, 0, 0);
    list-style: none;
    display: flex;
    z-index: 2;
}



  .nav > li {
    display: inline-block;
    padding: 5px 10px;
    z-index: 5;
    opacity: 0.99;
    color: white;
    text-decoration: none;
  }
  .nav > li:hover {
    background-color: #001748;
    z-index: 5;
  }

  

  .nav > li > a {
    color: white;
    text-decoration: none;
    z-index: 5;
  }
  
  .nav1 {
  display: none;
  position:absolute;
  background-color: #d3e0e8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
  margin-top: 5px;
  margin-left: -10px;
  padding-right: 0px;
  }

  .nav > li > a {
    padding: 14px 16px;
    display: block;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    z-index: 5;
}

.nav > li  {padding-top: 20px;}

.menu {
      position: fixed;
      top: 10px; 
      right: 50px;
      z-index: 4;
      list-style: none;
      height:60px;
    }

    

  .menu:hover .nav1 {display: block;z-index: 5;}


  li.list1:hover .nav1 {display: block;z-index: 5;}

  .nav1 > a, a:active, a:visited { color: black; padding: 5px; }
  
  .nav1 {
      padding: 5px;
        }


  .nav1 a:hover {color: rgb(255, 250, 250);z-index: 5;}

  .articles {
    display: flex;
    flex-wrap: wrap;
    
    
  }

  div.article {
    border: 3px solid #000000;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  text-align: center;
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  padding: 1px 2px;
  margin: 20px;
  opacity: 0.8;
  }

  div.article > p {
    color:rgb(0, 0, 0);
    line-height: 0px;
  }

  div.article > h4 {
    color:rgb(0, 0, 0);
    line-height: 0px;
  }

  a:link, a:visited {
    text-decoration: none;
  }

  a.bottomlink {
    color: #455A64;
    font-weight: bold;
  }


  div.footer {
    width:100%;
    height: 50px;
    background-color:#455A64;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    z-index: 999;
    }

    div.footer_index {
      width:100%;
      height: 50px;
      position: fixed;
      bottom: 0px;
      background-color:#455A64;
      font-size: 10pt;
      font-weight: bold;
      text-align: center;
      z-index: 999;
      }

    #slowfast {
      display: flex;
      flex-direction: row;
    }

    .diagrams_centre {
      
      
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  
  .diagrams_centre > img {
    border-color:rgb(0, 0, 0);
    border: 1px;
    border-style: solid;
  }

  .diagrams_centre_noborder {
      
      
    display: flex;
    justify-content: center;
    align-items: center;
   
}


  

    .diagrams {
      width: min-content;
      height: min-content;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: white;
      padding: 5px;
    }

    .prequesite {
      width: 380px;
      text-align: center;
      border-color:rgb(0, 0, 0);
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      border: 1px;
      border-style: solid;
      margin: 10px;
      background-color: rgb(215, 214, 214);
      padding: 5px;
    }

    .summary {
      width: fit-content;
      max-width: 600px;
      text-align: left;
      border-color:rgb(0, 0, 0);
      border: 3px;
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
      border-style: solid;
      margin: 10px;
      background-color: rgb(246, 246, 246);
      padding-left: 5px;
      padding-right: 5px;
    }

    .conditions {
      width: 380px;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
      border-style: solid;
      margin: 10px;
      background-color: rgb(182, 210, 255);
      padding: 5px;
    }

    .diagrams_float_left {
      width: min-content;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: white;
      padding: 5px;
      float: left;
    }

    .sections {
      border-color:rgb(0, 0, 0);
      border: 2px;
      border-style: solid;
      margin: 5px;
      padding: 5px;
      width: 700px;
    }
    

    .sections1 {
      display: flex;
      text-align: left;
      
    }

    .windguru{
      width: 450px;
      padding: 5px;
    }

    .top_windguru {
      margin-top: 100px;
    }

    .windgurucontainer{
      display: flex;
      flex-wrap: wrap;
    }
  
    .listmargin {
      margin: 8px;
    }

    #tim_pag_insta {
       /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);

      z-index: 0;
  }

  .video_container {
    
    position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
    z-index: -10;
  }