
#title {
  color: black;
  margin-left: 50px;
  float:left;
  text-align: left;
}


.slider {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 25px;
}



.foiljava { 
  display: flex;
  align-items: center;
  flex-direction: row;
}

.foiljava > div {
  padding: 10px;
}

img {
  margin-left: 0px;
}

div.header {
  position: fixed;
  background-color: rgb(245, 245, 245);
  top:0px;
  left: 0px;
  padding-bottom: 5px;
  width: 100%;
  height: 60px;
  z-index: 1;
  
}

a.header {
  float: right;
}

.page {
  padding-left: 10px;
  z-index: 2;
}

.sidebar  {
  display: none;
  z-index: 1;
}

@media screen and (min-width: 701px) {
  .sidebar  {
    display: block;
  }
  .activity {
    padding-left: 100px;
  }
}

.sidebar {
  position: fixed;
  top: 97px;
  left:0px;
  background-color: #001748;
  color: white;
  width:  110px;
  height:100%;
 margin-right: 4px;
 padding-left: 0px;
 text-align: left;
 font-size: 16px;
 border-style: solid;
 border-color: black;
  border-width: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

.sidebar > ul {
  list-style: none;
  display: inline-block;
  color: white;
  padding: 5px;
  padding-top: 0px;
  margin: 0;
}



.sidebar > ul > li > a {
 padding-bottom: 5px;
  text-decoration: none;
  display: block;
  color: white;
}

.sidebar > ul >li  a:hover {
  background-color: #9ed0ef;
  color: white;
}

.current-link {
  color:white;
  background-color: #296f98;
}

  body {
    background-color:rgb(245, 245, 245);
    
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .gap {
    padding: 20px;
  }

  .centre_image {
    padding-left: 20px;
  }

  .activity {
    position: relative;
    padding-top: 100px;
    
    
  }

  ul.nav {
    position: fixed;
    top: 49px;
    left:0px;
    border-style: solid;
 border-color: black;
  border-width: 1px;
    height: 30px;
    width: 2000px;
    padding-left: 10px;
    background-color: #001748;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    z-index: 2;
  }
  ul.nav > li {
    display: inline-block;
    padding: 5px 10px;
  }
  ul.nav > li:hover {
    background-color: #001748;
  }

  ul.nav > li {
    color: white;
    text-decoration: none;
  }

  ul.nav > li > a {
    color: white;
    text-decoration: none;
  }
  
  .nav1 {
    display: none;
  position:absolute;
  background-color: #d3e0e8;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 5px;
  margin-left: -10px;
  padding-right: 0px;
    
  }
  .nav1 > a {
    color: black;
    padding-left: 5px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    
  }
  .nav1 > a:hover {
    background-color:#d3e0e8;
    color: white;
  }

  li.list1:hover .nav1 {display: block;}

  ul.nav a.hover {color: white;}

  .articles {
    display: flex;
  }

  div.article {
    border: 3px solid #000000;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  margin: 20px;
  }

  div.article > p {
    color:rgb(0, 0, 0);
  }

  div.article > h4 {
    color:rgb(0, 0, 0);
  }

  a:link, a:visited {
    text-decoration: none;
  }


  div.footer {
    
    width:100%;
    height: 50px;
    background-color:#001748;;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    
 
    }

    #slowfast {
      display: flex;
      flex-direction: row;
    }

    .diagrams {
      width: min-content;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: white;
      padding: 5px;
    }

    .prequesite {
      width: 400px;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: rgb(215, 214, 214);
      padding: 5px;
    }

    .summary {
      width: fit-content;
      max-width: 600px;
      text-align: left;
      border-color:rgb(0, 0, 0);
      border: 3px;
      border-style: solid;
      margin: 3px;
      background-color: rgb(246, 246, 246);
      padding-left: 5px;
      padding-right: 5px;
    }

    .conditions {
      width: 400px;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: rgb(182, 210, 255);
      padding: 5px;
    }

    .diagrams_float_left {
      width: min-content;
      text-align: center;
      border-color:rgb(0, 0, 0);
      border: 1px;
      border-style: solid;
      margin: 5px;
      background-color: white;
      padding: 5px;
      float: left;
    }

    .sections {
      border-color:rgb(0, 0, 0);
      border: 2px;
      border-style: solid;
      margin: 5px;
      padding: 5px;
      width: 700px;
    }
    

    .sections1 {
      display: flex;
      text-align: left;
      
    }

    .windguru{
      width: 450px;
      padding: 5px;
    }

    .top_windguru {
      margin-top: 100px;
    }

    .windgurucontainer{
      display: flex;
      flex-wrap: wrap;
    }
  
    .listmargin {
      margin: 10px;
    }